<!DOCTYPE html>
<html lang="en">
<head>
    <script src='../_vue_source/vue.js'></script>
    <link rel="stylesheet" href="assets/main.css">
    <title>Vuejs</title>
</head>
<body>
    <div id="app">
        <!--Binding with the style directive to the two-way bind on the input-->
        <!--Note css classes that have dashes in can be camelcased-->
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo"></div>
        <div class="demo"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
    </div>
<script src='assets/main.js'></script>
</body>
</html>